// BOOTBOOT Options

// --- Loader specific ---
// requested screen dimension. If not given, autodetected
screen=1920x1080
// elf or pe binary to load inside initrd
kernel=cacos.elf

// --- Kernel specific, you're choosing ---
anythingyouwant=somevalue
otherstuff=enabled
somestuff=100
someaddress=0xA0000

